<settings>
	<interactiveMode>false</interactiveMode>
	<profiles>
		<profile>
			<id>build-properties</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<webrtc.src.dir>${env.WEBRTC_CHECKOUT_FOLDER}</webrtc.src.dir>
				<webrtc.install.dir>${env.WEBRTC_INSTALL_FOLDER}</webrtc.install.dir>
			</properties>
		</profile>
	</profiles>
</settings>